<div ng-controller="ChatController">
	<div class="form-login" ng-show="!userName">
		<h2>Online Chat</h2>
		<div class="alertName" ng-if="invalidUser">
			The choosen user name is allready in use.
		</div>
		<form ng-submit="verifyUser($event)">
			<label for="name">Enter your name</label>
			<input type="text" ng-model="name">
			<button class="btn">Enter</button>
		</form>
	</div>

	<div id="chat_window" ng-show="userName">
		<div id="users_list">
			<div id="showHide_users">
				<h4>Users</h4>
			</div>
			<div class="user_block" ng-repeat="user in users">
				{{user}}
			</div>
		</div>
		<div id="chat">
			<div ng-repeat="msg in messages track by $index">
				<span ng-bind-html="msg"></span>
				<br>
			</div>
		</div>
		<div id="form-wrapper">
			<form id="send-message" ng-submit="submitMsg($event)">
				<div class="message-wrapper">
					<textarea id="message" rows="3" ng-model="message" ng-keyup="submitMsg($event)"></textarea>
				</div>
				<div class="send-wrapper">
					<button type="submit" id="send" class="btn">Enviar</button>
				</div>
			</form>
		</div>
	</div>
</div>