//breakpoints
$mobile       = 480px
$mobilemax    = 767px
$tabletmin    = 768px
$tabletmax    = 991px
$desktopmin   = 992px
$desktopmax   = 1199px
$desktoplarge = 1200px


//color variables
$main       = #99D9EA
$bordaChat  = #ff0303
$branco     = #ffffff
$fundoBotao = #337ab7
$bordaBotao = #2e6da4

html, body
	height 100%

body
	background-color $main
	margin 0
	padding 0
	font-family 'Open Sans', sans-serif
	@media (max-height 640px)
		footer
			position initial
			min-height 1px

div, section, article, footer, header, nav, textarea
	box-sizing border-box
	
label
	font-weight 400
	display block

input
	display block
	width 100%
	height 34px
	font-size 14px
	line-height 1.42857143
	color #555
	background-color $branco
	border 1px solid #ccc
	border-radius 4px
	box-shadow inset 0 1px 1px rgba(0,0,0,.075)
	transition border-color ease-in-out .15s,box-shadow ease-in-out .15s
	background-color $branco
	box-sizing border-box
	padding 5px
	
a
	text-decoration none
	
#main-content
	height 100%
	padding 10px 15px 0
	margin-bottom -60px
	
.btn
	display inline-block
	padding 6px 12px
	margin-bottom 0
	font-size 14px
	text-align center
	vertical-align middle
	cursor pointer
	border 1px solid transparent
	border-radius 4px
	background-color $fundoBotao
	border-color $bordaBotao
	color $branco
	&:hover
		background-color #286090
		border-color #204d74
		
.row
	display table
	width 100%
	height 100%
	clear both
		
footer
	width 100%
	text-align center
	position absolute
	bottom 0
	min-height 60px
	em
		font-weight bold

	img
		width 20px
		transition .5s
		&:hover
			opacity .5