//imports external files
@import '../../node_modules/normalize-styl'
@import '../../node_modules/jeet/styl'
@import url('https://fonts.googleapis.com/css?family=Open+Sans')

//project styles
@import 'globals'
@import 'chat'